@tailwind base;
@tailwind components;
@tailwind utilities;

.tab {
    @apply flex items-center gap-1 px-4 py-1 text-white rounded-t-lg outline-none cursor-pointer hover:bg-slate-300 hover:text-slate-700;
}

.tab-active {
    @apply bg-slate-200 hover:bg-slate-200 text-slate-900;
}

.app-header {
    @apply sticky top-0 z-50 flex items-center justify-center gap-2 py-2 rounded-b-lg shadow-xl lg:mx-4 bg-slate-200 text-slate-900;
}

.react-tabs__tab-panel--selected {
    @apply flex flex-col justify-between w-full gap-2 p-4 text-center rounded-lg bg-slate-200;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
